---
layout: default
---

<div itemscope itemtype="http://schema.org/Event">
  <h3>
    {% if page.previous.url %}
      <a href='{{page.previous.url}}'><i class='fa fa-chevron-circle-left'></i></a>
    {% endif %}
    <time itemprop="startDate" datetime={{ page.date | date: "%Y-%m-%d" }}>{{ page.date | date: "%b %d, %Y" }}</time>
    {% if page.next.url %}
      <a href='{{page.next.url}}'><i class='fa fa-chevron-circle-right'></i></a>
    {% endif %}
  </h3>
  <h1>
    <small>#{{page.event_id}}</small>
    <span itemprop="name">{{page.title}}</span>
    {% if site.time <= page.date %}
      <a class='btn btn-success btn-sm' href='http://www.huodongxing.com/org/630434844001'>RSVP（从速报名） &raquo;</a>
    {% endif %}
  </h1>
  <hr />

  <div class='row'>
    <div class='col-md-7'>

      {% if page.youku_id %}
        <iframe height=498 width=510 src="http://player.youku.com/embed/{{page.youku_id}}" frameborder=0 allowfullscreen></iframe>
        <hr />
      {% endif %}

      <span itemprop="description">{{content}}</span>

      {% if page.event_id > 111 %}
        <hr />
        <h4>Breakout groups</h4>

        <p>As usual, we will have topic specific working groups to help guide conversations and potential apps:</p>

        <ul>
          <li><strong>Orientation/Civic Hacking 101</strong>: <a href="https://twitter.com/CivicWhitaker">Christopher Whitaker</a></li>
          <li><strong>Code Clinic</strong>: <a href='https://github.com/renemarcelo/'>René M. Paccha</a>, <a href='https://twitter.com/citizendrummer' >Demond Drummer</a>, <a href="http://red-bean.com/kfogel" >Karl Fogel</a></a></li>
          <li><strong>Working with Data 101</strong>: <a href='https://twitter.com/matthewgee'>Matt Gee</a>, <a href='http://www.linkedin.com/pub/james-salvatore/81/2b1/485'>James Salvatore</a></li>
          <li><strong>Transportation</strong>: <a href="https://twitter.com/stevevance">Steven Vance</a></li>
          <li><strong>Education</strong>: <a href="https://twitter.com/shua123">Josh Kalov</a>, Forest Gregg</li>
          <li><strong>Environment</strong>: <a href="https://twitter.com/sbeslow">Scott Beslow</a></li>
          <li><strong>Social Service Delivery</strong>: <a href="https://twitter.com/RoseSerwah">Rose Afriyie</a></li>
          <li><strong>Modelling Pension Reform in Illinois</strong>: <a href="https://www.linkedin.com/pub/denis-roarty/30/b0/394">Denis Roarty</a>, <a href="https://www.linkedin.com/in/bengalewsky">Ben Galewsky</a></li>
        </ul>

      {% endif %}

      {% if page.links %}
        <hr />
        <h4>Links</h4>
        <ul>
        {% for link in page.links %}
          <li>{{link}}</li>
        {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class='col-md-5'>
      <div class='well'>
        <p>
          {{page.time}}<br />
          {{ page.date | date: "%b %d, %Y" }}<br />
          <div itemprop="location" itemscope itemtype="http://schema.org/Place">
            <span itemprop="name">{{page.location}}</span><br />
            <a href='http://map.baidu.com/?l=&s=s%26wd%3D{{page.address}}'>
              <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">{{page.address}}</span><br />
                <span itemprop="addressLocality">{{site.city}}</span>
                <span itemprop="addressRegion">{{site.province}}</span>
              </div>
            </a><br />
          </div>
        </p>

        <p>
          <strong>此次活动的食物由{{page.foodsponsor}}资助<br />
          <strong>此次活动的数据由{{page.datasponsor}}提供<br />
          <strong>此次活动由{{page.coorg}}联合组织<br />
        </p>

          <p>
            <strong><i class='fa fa-youtube-play'></i>视频与资源 </strong><br />
            此次活动的视频请戳<a href="{{page.video}}">这里</a>以及活动资料(作品及数据)请见<a href="{{page.resource}}">这里</a>
          </p>

      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>


  </div>
</div>
